@charset "utf-8";
@font-family 


/* =============================================
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices 
	unless superceded by other styles.
   =============================================
*/

html {
	height: 100%;
	font-size: 12px;
}
img {
	max-width: 100%;
}

video {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-left: 4%;
	padding-right: 4%;
}
nav {
	width: 50%;
	float: left;
	margin: 6% 2% 0% 0%;
}
article {
	width: 70%;
	float: left;
	font-size: 0.7em;
}

body form{
	float: left;
	width: 300px;
	font-family: "Lucida Grande", sans-serif;
	font-size: 0.8em;
	text-align: center;
}

nav {
	overflow: hidden;
    background-color: white;
}

nav a {
	float: left;
	color: #505052;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
	
nav ul li {
	font-family: "Lucida Grande", sans-serif;
	font-size: 0.8em;
}

nav ul li:hover {
    background-color: #ddd;
    color: black;
}
form {
  width: 80%;
  margin: 0 auto;
}
label {
	display: inline-block;
	text-align: left;
	width: 77%;
	margin: 1%;
	font-size: .9em;
	font-family: "Lucida Grande", sans-serif;
	font-style: normal;
	
}

input {
	display: inline-block;
	margin: 3.5% 1%;
	width: 77%;
	font-size: .9em;
	font-family: "Lucida Grande", sans-serif;
	font-style: normal;
	height: 100%;
}

textarea {
	display: inline-block;
	margin: 3.5% 1%;
	width: 77%;
	font-size: .9em;
	font-family: "Lucida Grande", sans-serif;
	font-style: normal;
	height: 100%;
}
body h1 {
	color: rgb(231, 84, 128);
	margin: 1%;
	font-family: "Lucida Grande", sans-serif;
	font-size: 1.5em;

}

body p {
	margin: 1%;
}

body h4 {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	color: rgb(231, 84, 128);	
	font-family: "Lucida Grande", sans-serif;
	font-size: 1.75em;
	text-align: center;
}


body p.two {
	width: 500px;
	font-family: "Lucida Grande", sans-serif;
	font-size: 1em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	
}


li {
	font-family: "Lucida Grande", sans-serif;
	font-size: .9em;
	width: 70%;
	margin: auto;
	
}

.icon {
	display: flex;
    align-items: center;
    justify-content: center;
  
}

.icon i {
	margin: 0 7px;
	
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  /* margin: 5px 2px; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;    
}

.fa-pinterest {
  background: #e60712;
  color: white;
}

.fa-spotify {
  background: #49c44d;
  color: white;
}

.fa-linkedin {
  background: #3B5998;
  color: white; 
}


body article h1 {
	font-size: 1.15em;
}

header img {
	float: none;
	width: 96%;
	margin: 2% 2% 0% 2%;
}
body {
	margin: 3.5% 1%;
	font-size: 1em;
	font-family: "Lucida Grande", sans-serif;
	font-style: normal;
	height: 100%;
}
blockquote {
	font-size: 1em;
	width: 100%;
	font-family: "Lucida Grande", sans-serif;
	margin: 0 0 4% 0;
}
footer {
	text-align: center;
	font-size: 0.6em;
	margin-top: 4%;
	border-top: 3px solid rgba(149, 165, 166, 1);
	font-family: "Lucida Grande", sans-serif;
	clear: both;
	padding-bottom: 20px;
}


/* =============================================
	Tablet layout styles used by devices
	481px to 768px and cascaded to larger 
	devices.
   =============================================
*/


@media only screen and (min-width: 481px) {
html, body {
	font-size: 16px;
}

body {
	width: 89.9%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: auto;
}

header h1 {
   font-size: 2em;
}

body article h1 {
   font-size: 1.75em;
}

article {
	width: 94%;
	float: none;
	margin: 0px auto;
}

article img {
	float: right;
	width: 35%;
	margin: 0% 0% 5% 2%;
}
nav ul li {
	display: table-cell;
	width: 10%;
	text-align: center;
	margin-right: 2%;
	border: thin solid rgba(210, 215, 211, 1);
}

nav {
	display: table;
	width: 90%;
	margin: auto;
	float: none;
}
nav ul {
	display: table-row;
	margin: 0;
}

blockquote {
  background: rgb(241, 241, 241);
  border-left: 10px solid rgba(210, 215, 211, 1);
  quotes: "\201C""\201D""\201C""\2019";
  	border-radius: 10%;
	width: 30%;
	margin: 5%;
	float: left;
	padding: 1%;
}
blockquote p:first-of-type:before {
  color: rgba(149, 165, 166, 1);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin: 0.2em 0.1em 0em 0.25em;
  vertical-align: -0.4em;
}


footer {
	font-size: 0.9em;
}



/* =============================================
	Desktop layout styles used by  devices
	769px and larger.
   =============================================
*/

@media only screen and (min-width: 769px) {
html, body {
	font-size: 20px;
}

html {
	background-color: rgba(210, 215, 211, 1);
}
body {
	width: 75%;
	max-width: 800px;
	padding-left: 1%;
	padding-right: 1%;
	margin: auto;
	background-color: white;
	box-shadow: rgb(255, 121, 121) 20px 0px 25px,  rgb(255, 121, 121) -20px 0px 25px;
}

article p {
	font-family: "Lucida Grande", sans-serif;
	font-size: 1;
}

table {
	width: 100%;
	border: 1px solid pink;
	border-collapse: collapse;
}

td {
	width: 20%;
	border: 1px solid pink;
	border-collapse: collapse;
	text-align: center;
}

video {
	width: 30%;
	float: right;
	margin: auto;	
}	